@import "../../../styles/breakpoints.scss";

.Arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  cursor: pointer;

  .Icon {
    &:nth-child(1) {
      width: 60px;
    }

    &:nth-child(2) {
      width: 80px;
    }
  }

  &.is-revert {
    transform: rotate(180deg);
  }
}
