@import "../../../../styles/colors.scss";

.Button {
  margin-top: 30px;
  width: 100px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid $green;
  padding: 5px;
  color: $white;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: $green;
    transform: scale(1.1);
    cursor: none;
  }
}
