@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

@include medium {
  .Timeline {
    display: flex;
    z-index: 2;
    text-transform: uppercase;
    justify-content: space-between;
    width: 600px;

    &:before {
      content: "";
      position: absolute;
      top: 33px;
      width: 600px;
      height: 2px;
      background: $green;
    }

    &__block {
      display: flex;
      padding-top: 30px;
      position: relative;

      &:hover {
        .Timeline__content {
          a {
            color: $orange;
          }
        }
      }

      &:first-child {
        justify-items: flex-start;

        .Timeline__marker {
          left: 0;
        }
      }

      &:nth-child(2) {
        .Timeline__marker {
          left: 50%;
        }
      }

      &.is-active {
        .Timeline__marker {
          background: $orange;
        }

        .Timeline__content {
          a {
            color: $orange;
          }
        }
      }
    }

    &__marker {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 0;
      border: 2px solid $green;
      background: $white;
      z-index: 1;

      transition: background 500ms;
    }

    &__content {
      width: 100%;

      a {
        color: $white;

        transition: color 500ms;
      }
    }
  }
}
