@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.Section {
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;

  &__info {
    text-align: center;

    @include medium {
      text-align: center;
    }
  }

  &__title {
    letter-spacing: 2px;
    color: $white;
    text-transform: uppercase;
    width: 400px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
    height: 70px;

    h1 {
      position: absolute;
    }
  }

  &__description {
    color: $white;
    width: 400px;
    letter-spacing: 2px;
    padding: 0 30px;
    text-align: justify;

    @include medium {
      padding: 0;
    }
  }

  &__children {
    display: flex;
  }

  &__rightSection {
    justify-content: space-evenly;

    .Section__children {
      height: 300px;
      width: 500px;
    }

    .Section__title {
      height: unset;
      justify-content: flex-start;

      h1 {
        position: relative;
      }
    }

    .Section__info {
      text-align: start;
    }
  }
}
