@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.Section {
  display: flex;
  height: 1000px;
  flex-direction: column;
  position: relative;
  align-items: center;

  &__info {
    position: absolute;
    top: 300px;
    text-align: center;

    @include medium {
      top: 250px;
      left: 100px;
      text-align: start;
    }
  }

  &__title {
    letter-spacing: 2px;
    color: $white;
    text-transform: uppercase;
    width: 400px;
    margin-bottom: 30px;
  }

  &__description {
    color: $white;
    width: 400px;
    letter-spacing: 2px;
    padding: 0 30px;
    text-align: justify;

    @include medium {
      padding: 0;
    }
  }

  &__children {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
