$gridLine: 5px;

.Grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
  perspective: 200px;

  .line {
    position: absolute;
    background: #47af4d;
    -webkit-backface-visibility: hidden;
  }

  .dot {
    position: absolute;
    background: white;
    width: $gridLine;
    height: $gridLine;
    top: 100%;
    border-radius: $gridLine;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        left: #{$i * 10%};
        animation: moveDot #{$i * 2 + s} infinite;
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: -50px;
    transform: rotateX(45deg);

    &__vertical {
      .line {
        top: 0;
        left: 0;
        bottom: 0;
        width: $gridLine;

        @for $i from 1 through 11 {
          &:nth-child(#{$i}) {
            left: #{$i * 10%};
          }
        }
      }
    }

    &__horizontal {
      .line {
        top: 0;
        left: 0;
        right: 0;
        height: $gridLine;
        z-index: 2;

        @for $i from 1 through 11 {
          &:nth-child(#{$i}) {
            top: #{$i * 10%};
            opacity: #{$i * 10%};
          }
        }
      }
    }
  }
}

@keyframes moveDot {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}
